* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color:#d1ccc0;
}
.ui.fixed.menu{
  background-color:#aaa69d;  
}

.four{
  background-color: #7f8fa6;
  margin-top: 50px;
}

.ui .cards .card .image  {
height: 250px;
padding: 25px;
background-color:#f5f6fa;
margin: auto;

}


.ui.cards > .card > .image > img{
  height: 100%;
  max-width: 100%;
  width: auto;
}

.ui .cards > .card > .content > .header{
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;

}
.ui.grid.container {
    height: 100vh;
}
.ui.placeholder.segment{
  background-color: #dcdde1;
  }

  .column.lp > .image{
    margin-top:50px;
    width:100%;
    height: 100%;
        }